*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #F9B252;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: 0;
}